@import "reset.css";
@import "general.css";
@import "colors.css";


/*
---------------------
    MAIN CONTENT
--------------------
*/

.main-content{
  height: calc(100vh - 100px);
  overflow: hidden;
}


/*
-----------------
      ASIDE
------------------
*/

aside{
    width: 200px;
    max-height: 100%;
    overflow: hidden;
    flex-direction: column;
    padding: 0 .625rem;
}

.logo-container{
    width: 120px;
    padding: 1.25rem 0;
}


.playlist-container{
    margin-top: 1.25rem;
    flex-grow: 1;
    overflow: hidden;
}


.playlist-container button{
    width: 30px;
    height: 30px;
    font-size: 2em;
    line-height: 1.25rem;
    font-weight: bold;
}


.playlist-container ul{
    overflow-y: auto;
    flex-grow: 1;
}

aside a {
    display: inline-block;
    padding: .625rem .3125rem
}




/*
-----------------
    MAIN
-----------------
*/

main,
header{
    width: calc(100% - 200px);
}


/* main header */

main header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.536);
    text-align: right;
    padding: 1.25rem;
}

main header *{
    border: 1px solid white;
    padding: .625rem 1.875rem;
    border-radius: 1.25rem;
}


/* main section */

main section {
    overflow-y: auto;
    height: 90%;
    padding-top: 6.25rem;
}

main h3{
    font-size: 1.5em;
    padding: 1.875rem 0;
}

main p{
    margin-top: .625rem;
    font-size: .75rem;
}

.container{
    width: 100%;
    padding: 0 .625rem;
}


.container nav ul {
    justify-content: center;
}

.container nav ul li {
   padding: .3125rem .625rem;
}

.cover-container img{
    width: 100%;
    height: 100%;
    position: relative;
}


.song h5,
.song h6{
    text-align: center;
    margin-top: .625rem;
}

.song h6{
    font-size: .6875rem;
}

.container .cards{
    margin: 0 -0.625rem;
}


.container .cards .card{
    width: calc((100% / 6) - 20px);
    margin: 0 .625rem;
}


.rounded img{
    border-radius: 50%;
}





/* 
------------------------
    FOOTER
------------------------
*/


footer{
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(55, 54, 54);
    position: relative;
}

footer > *{
    padding: 1.25rem;
}


.image-footer img{
    width: 50px;
    height: 50px;

}


.left-footer{
    align-items: center;
}

.left-footer > div:not(:first-child){
    margin: .625rem;
}


.left-footer a{
    display: block;
    padding: .3125rem 0;
}

.center-footer-top *{
    padding: .3125rem .4375rem;
    font-size: 1.3em;
}

.center-footer-top .icon-bigger{
    font-size: 2em;
}

.right-footer *{
    font-size: 1em;
    padding: 0 .3125rem;
}


/*
----------------------------
         RESPONSIVE
-----------------------------
*/

/* Tablet -> fino a 1100px */

@media screen and (max-width: 1100px) {

 .container .cards .card{
    width: calc((100% / 4) - 20px);
  }

}



/* Mobile normale -> fino a 700px */

@media screen and (max-width: 700px) {

    .container .cards .card{
        width: calc((100% / 2) - 20px);
      }
}




/* Mobile piccolo -> fino a 600px */

@media screen and (max-width: 600px) {

    main,
    header{
        width: calc(100% - 80px);
    }

    aside {
        width: 80px;
    }

}







